<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <dealer4dealer_xcore>
            <version>0.9.0</version>
        </dealer4dealer_xcore>
    </modules>
    <global>
        <models>
            <dealer4dealer_xcore>
                <class>Dealer4dealer_Xcore_Model</class>
            </dealer4dealer_xcore>
            <catalog>
                <rewrite>
                    <product_api_v2>Dealer4dealer_Xcore_Model_Catalog_Product_Api_V2</product_api_v2>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order_api_v2>Dealer4dealer_Xcore_Model_Sales_Order_Api_V2</order_api_v2>
                    <order_creditmemo_api_v2>Dealer4dealer_Xcore_Model_Sales_Order_Creditmemo_Api_V2</order_creditmemo_api_v2>
                </rewrite>
            </sales>
            <customer>
                <rewrite>
                    <customer_api_v2>Dealer4dealer_Xcore_Model_Customer_Customer_Api_V2</customer_api_v2>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <dealer4dealer_xcore>
                <class>Dealer4dealer_Xcore_Helper</class>
            </dealer4dealer_xcore>
        </helpers>
        <blocks>
            <dealer4dealer_xcore>
                <class>Dealer4dealer_Xcore_Block</class>
            </dealer4dealer_xcore>
        </blocks>
        <events>
            <dealer4dealer_xcore_sales_order_payment_fee>
                <observers>
                    <dealer4dealer_xcore_sales_order_payment_fee>
                        <class>Dealer4dealer_Xcore_Model_Observers_Paymentfee</class>
                        <method>dealer4dealerXcoreSalesOrderPaymentFee</method>
                        <type>singleton</type>
                    </dealer4dealer_xcore_sales_order_payment_fee>
                </observers>
            </dealer4dealer_xcore_sales_order_payment_fee>
        </events>
    </global>
</config>
